body{
  background-color: black;
  font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1{
  letter-spacing: -1px;
}

.nav-button {
    color: green;
  }

.homemargin{
  margin-top: 110px;
}

.text-allign{
  text-align: center;
  position: relative;
  z-index: 99;
}

.title{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: beige;

}

.ppicture{
  width: 8%;
  height: 8%;
}
