<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta content="width=device-width; initial-scale=0.7; maximum-scale=0.7;   user-scalable=0;" name="viewport">
    <!-- 404 page if-->
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
        {{ content }}
  </body>
</html>

